{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <title>Title</title>
</head>
<body style="background-image:url('{% static 'images/elements.jpg'%}');">
	<div class="home">
		<div class="background_image" style="background-image:url({% static 'images/about.jpg' %})"></div>
	</div>
	<div class="about">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title"><h2>A few words about us</h2></div>
				</div>
			</div>
			<div class="row about_row">
				<div class="col-lg-6">
					<div class="about_content">
						<div class="text_highlight">Travel is the movement of people between distant geographical locations. Travel can be done by foot, bicycle, automobile, train, boat, bus, airplane, ship or other means, with or without luggage, and can be one way or round trip. Travel can also include relatively short stays between successive movements, as in the case of tourism.</div>
						<div class="about_text">
							<p>Travel dates back to antiquity where wealthy Greeks and Romans would travel for leisure to their summer homes and villas in cities such as Pompeii and Baiae. While early travel tended to be slower, more dangerous, and more dominated by trade and migration, cultural and technological advances over many years have tended to mean that travel has become easier and more accessible. Humankind has come a long way in transportation since Christopher Columbus sailed to the new world from Spain in 1492, an expedition which took over 10 weeks to arrive at the final destination; to the 21st century when aircraft allows travel from Spain to the United States overnight.</p>
						</div>
						<div class="button about_button"><a href="#">read more</a></div>
					</div>
				</div>
<!--				<div class="col-lg-6">-->
<!--					<div class="about_image"><img src="{% static 'images/about_1.jpg' %}" alt=""></div>-->
<!--				</div>-->
			</div>
		</div>
	</div>


</body>
</html>






